/* === LAMOMENT CSS ARCHITECTURE === */

/* Base Layer */
@import url('base/variables.css');
@import url('base/fonts.css');

/* Components */
@import url('components/navbar.css');
@import url('components/footer.css');
@import url('components/buttons.css');
@import url('components/cards.css');
@import url('components/forms.css');
@import url('components/alerts.css');

/* Sections (Homepage) */
@import url('sections/hero.css');
@import url('sections/logo-slider.css');
@import url('sections/how-it-works.css');
@import url('sections/reviews.css');
@import url('sections/what-different.css');
@import url('sections/with-you.css');
@import url('sections/faq-preview.css');

/* Pages */
@import url('pages/contact.css');
@import url('pages/packages.css');
@import url('pages/faqs.css');

/* Utilities */
@import url('utilities/animations.css');
@import url('utilities/helpers.css');
@import url('utilities/responsive.css');

