@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

@keyframes scroll-containers {
    0% { 
        transform: translateX(0); 
    }
    100% { 
        transform: translateX(calc(-50% - 1px)); 
    }
}

@keyframes my_slide {
    0% { left: 0; }
    20% { left: 0; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: 0; }
}